@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(255,255,255);
    background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(230,230,230,1) 100%);
    margin: 0;
}

ul {
    list-style: none;
    display: flex;
}

ul .key {
    position: relative;
    width: 60px;
    height: 180px;
    border: 1px solid #DDD;
    border-right: none;
    background: #EEE;
    border-radius: 5px;

    /* Shadow */
    box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #666;

    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 10px;
    font-weight: bold;
}

ul .black-key {
    position: absolute;
    top: -1px;
    left: 37.5px;
    width: 45px;
    height: 120px;
    background: #333;
    border-radius: 5px;

    /* Shadow */
    box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #666;
   
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 10px;
    color: white;
}